mixin fileicon(type)
    if type == "image/jpeg"
        span.glyphicon.glyphicon-picture
    else if type == "application/zip"
        span.glyphicon.glyphicon-compressed
    else if type == "audio/mpeg"
        span.glyphicon.glyphicon-music
    else
        span.glyphicon.glyphicon-file

mixin filelink(file)
    a(href="/download/" + file.name, target="_blank", class="list-group-item list-group-item-default")
        span.label.label-warning
            +fileicon(file.type)
        |  #{file.name}

doctype html
html(lang="de")
    head
        title=pageTitle
        link(rel="stylesheet", href="/css/style.css")
    body
        .jumbotron
            .container.text-center
                h1= title
        .container
            .row
                .col-md-6.col-md-offset-3
                    .list-group
                        for file in files
                            +filelink(file)